body {
  width: 100vw;
  height: 100vh;
}

div.container {
  background-color: blue;
  position: relative;
  width: 400px;
  height: 400px;
  left: calc(50vw - 200px);
  top: calc(50vh - 200px);
}

div.box {
  background-color: red;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

div.box1 {
  background-color: black;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

div.box2 {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

div.box3 {
  background-color: yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
}
