body {
  height: 300vh;
}

div {
  background-color: black;
  height: 200px;
  width: 200px;
  margin: 5px;
}

div.box1 {
  position: relative;
  left: 0;
  top: 0;
}

div.box2 {
  position: absolute;
  right: 0;
  top: 0;
}

div.box3 {
  position: absolute;
  left: 0;
  bottom: 0;
}

div.box4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
